body {
    padding: 0;
    margin: 0;
    background: linear-gradient(60deg, rgb(51, 48, 226), rgb(248, 3, 3)) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.myCanvas {
    width: 1250px;
    height: 200px;
    border: 1px double white;
    border-radius: 7px;
    position: relative;
    margin: 200px auto 0;
}

.ball {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 100px;
}

.ball.active {
    animation: ball 3.5s infinite;
}


@keyframes ball {
    0% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(100px, 150px);
    }

    20% {
        transform: translate(200px, 0px);
    }

    30% {
        transform: translate(300px, 150px);
    }

    40% {
        transform: translate(400px, 0px);
    }

    50% {
        transform: translate(500px, 150px);
    }

    60% {
        transform: translate(600px, 0px);
    }

    70% {
        transform: translate(700px, 150px);
    }

    80% {
        transform: translate(800px, 0px);
    }

    90% {
        transform: translate(900px, 150px);
    }

    100% {
        transform: translate(1000px, 0px);
    }
}

button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 30px;
    padding: 7.5px 9.9px;
    border-radius: 7px;
    letter-spacing: 3px;
    font-family: cursive;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    transform: rotateY(360deg);
}

button:focus {
    background: #000;
    border: 1px solid #000;
}

#remove {
    margin-left: 7px;
}

#add {
    margin-left: 7px;
}